$brand-blue: #4b7bec;

* {
    box-sizing: border-box;
}

html,body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: white;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

.content {
    width: 90%;
    max-width: 600px;
    margin: 15vh auto 0px auto;
    transition: margin 0.2s;
}

@media(min-width: 768px) {
    .content {
        border: 1px solid #bbb;
        margin: 20vh auto 0px auto;
    }
}

