footer{
	position: relative;
	margin-top: 100px;
	height: 150px;
	background-color: white;
	color: #aaa;
	font-size: 12px;
	margin-top: 100px;
	transition-property: margin-top;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.footer-hr {
	margin-top: 50px;
	border-top: 1px solid #ddd;
	width: 75%;
}

.footer-copyright {
	font-size: 10px;
	margin-top: 5px;
}

@media (max-width: 500px) {
	footer{
		margin-top: 50px;
	}
}