.option {
    height: 60px;
    text-align: left;
    border: 1px solid #aaa;
    &:hover {
		background-color: #f7f7f7;
		cursor: pointer;
    }
    &.voted {
        opacity: 0.7;
        background-color: #fff !important;
		cursor: default !important;
    }
}

.option td {
	border: 0px;
	padding: 0px;
    padding-left: 10px;
    &.radio {
        width: 30px;
    }
}
