

.poll-form-container h1 {
    width: 90%;
    margin: 30px auto 20px auto;
}

.poll-form-container .err-msg {
    height: 30px;
	width: 100%;
    text-align: right;
	color: red;
	font-size: 12px;
    font-weight: bold;
}

.poll-form-container .form {
    width: 90%;
    max-width: 400px;
    margin: auto;
}

.poll-form-container label {
    float: left;
    margin: 10px 0px;
}

.poll-form-container input {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin: 10px 0px;
    font-size: 14px;
}

.poll-form-container .add-option {
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: left;
    &:hover {
        opacity: 0.7;
    }
}

.poll-form-container .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
	height: 60px;
	margin: 0px auto 10px auto;
	padding: 10px 0px;
    & button {
        margin: 0px 10px;
        width: 110px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid $brand-blue;
        background-color: $brand-blue;
        color: white;
        font-size: 14px;
        &:not(.disabled):hover {
            opacity: 0.7;
        }
        &.cancel {
            background-color: white;
            color: $brand-blue;
        }
        &.disabled {
            cursor: default;
            opacity: 0.5;
        }
    }
}
