.poll-list {
	padding: 30px 0px 50px 0px;
}

.poll-list h1 {
	width: 80%;
	margin: auto;
}

.poll {
    width: 80%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #bbb;
    background-color: #ddd;
    margin: 20px auto;
    text-overflow: ellipsis;
    color: blue;
    &:hover {
        opacity: 0.8;
    }
}

.link-container {
	margin: 30px auto 0px auto;
	width: 80%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.link-container div {
    line-height: 40px;
    width: 40%;
    color: blue;
    & a {
        color: blue;
        &:hover {
            text-decoration: underline;
        }
    }
    &:last-child {
        text-align: right;
    }
}


