.poll-list {
	padding: 30px 0px 50px 0px;
}

.poll-list h1 {
	width: 80%;
	margin: 0px auto 20px auto;
}

.poll-list .poll {
    width: 80%;
    margin: 30px auto 40px auto;
    text-align: left;
    & a {
        color: $brand-blue;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 20px;
        &:hover {
            opacity: 0.8;
        }
    }
    & p {
        margin: 10px 0px;
        color: #666;
        font-size: 12px;
    }
    
    & hr {
        display: none;
        width: 100px;
        height: 2px;
        background-color: #f5f5f5;
        border: 0px;
        margin: 20px auto;
    }
}

.link-container {
	margin: 0px auto;
	width: 80%;
    text-align: left;
}

.link-container div {
    line-height: 30px;
    width: 100px;
    & a {
        color: $brand-blue;
        white-space: nowrap;
        font-size: 14px;
        color: #666;
        & svg {
            color: $brand-blue;
            vertical-align: middle;
            margin-top: -2px;
            height: 18px;
            &.add-option {
                margin-right: 4px;
            }
        }
    }
    &:hover {
        text-decoration: underline;
    }
}


