.poll-detail {
	
}

.poll-inner {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.poll-detail h1,
.poll-detail h4 {
	width: 100%;
    text-align: left;
}

.poll-detail h1 {
    margin: 30px auto 20px auto;
}

.poll-detail table {
	border-collapse: collapse;
	width: 100%;
	margin: auto;
	background-color: white;
	border: 1px solid #aaa;
	padding: 0px;
	&.voted {
		opacity: 0.5;
		& tr:hover {
			background-color: #fff;
			cursor: default;
		}
	}
}

.back-link {
	color: blue;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.thank-you-message {
	margin: 20px auto 10px auto;
	position: relative;
	height: 40px;
	width: 60%;
	text-align: left;
	padding: 0px 10px 0px 10px;
	line-height: 40px;
	background-color: #d9eecc;
	border: 1px solid #b7ccaa;
	color: #336527;
	border-radius: 5px;
	visibility: visible;
}

.poll-thank-you-x {
	height: 30px;
	color: #888;
	float: right;
	font-size: 18px;
	font-weight: lighter;
	margin: 0px 0px 0px 0px;
	&:hover {
		opacity: 0.75;
		cursor: pointer;
	}
}


