.subheader {
	position: fixed;
	top: 0px;
	background-color: #ddd;
	height: 80px;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid #aaa;
	transition-property: top;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	&.open {
		top: 80px;
	}
}

.subheader-button-container {
	height: 80px;
	position: relative;
	margin-left: 10%;
	width: 80%;
	text-align: left;
}

.subheader-button {
	width: 80px;
	height: 40px;
	font-size: 14px;
	position: absolute;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	color: $light-blue;
	top: 20px;
	&.login {
		width: 60px;
		left: 80px;		
	}
	&.signup {
		background-color: $light-blue;
		left: 0px;
		color: white;
	}
	&.logout {
		right: 0px;
	}
	&:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}

.sub-username{
	position: absolute;
	top: 30px;
	left: 0px;
	color: black;
}

.greeting{
	color: $light-blue;
}

@media (min-width: 600px) {
	.subheader.open{
		top: 0px;
	}
} 